body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, black, red, green, yellow);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

header:hover {
    background-image: linear-gradient(to right bottom, blue, orange, brown, white);
    color: aqua;
    padding: 15px;
    font-size: 10pt;
    transition: all 2s;
}
header:active {
    background-image: linear-gradient(to right bottom, red, orange, yellow, green, blue);
    color: lightcoral;
    padding: 5px;
    font-size: 20pt;
    transition: all 2s;
}
footer {
    background-color: black;
    color: yellow;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
    width: 100%;
}
footer:hover {
    background-image: linear-gradient(to right bottom, red, orange, yellow, green, blue);
    color: lightcoral;
    padding: 5px;
    font-size: 20pt;
    transition: all 2s;
}
footer:active {
    background-image: linear-gradient(to right bottom, blue, orange, brown, white);
    color: aqua;
    padding: 15px;
    font-size: 10pt;
    transition: all 2s;
}
a {
    color: blue;
    text-decoration: none;
    transition: text-shadow, color, text-duration, background-color, font-weight, 3s;
}
a:visited {
color: black;
background-color: yellow;
}

a:hover {
color: red;
text-decoration: underline;
background-color: white;
font-weight: bold;
text-shadow: -5px 5px 3px yellow;
transition: all 0.3s;
}

a:active {
color: pink;
background-color: green;
}    