body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: yellow;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
}
a {
    href="lab1.html"; target="_blank"; style="text-decoration: none; color: green;";
    href="lab2.html"; target="_blank"; style="text-decoration: none; color: green;";
} 


